trunk/j2se/Confidant/src/beta03/script.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 (http://www.altova.com) by Administrator (EMBRACE) -->
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="commander">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="command" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="time" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="mode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="bunch"/>
						<xs:enumeration value="loop"/>
						<xs:enumeration value="timer"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="command">
		<xs:complexType>
			<xs:attribute name="y" type="xs:int" use="optional"/>
			<xs:attribute name="x" type="xs:int" use="optional"/>
			<xs:attribute name="value" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="call"/>
						<xs:enumeration value="checkColor"/>
						<xs:enumeration value="key"/>
						<xs:enumeration value="leftMouse"/>
						<xs:enumeration value="rightMouse"/>
						<xs:enumeration value="sendUDPMsg"/>
						<xs:enumeration value="shutDown"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="trueRef" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="shift" type="xs:boolean" use="optional"/>
			<xs:attribute name="ref" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ip" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="falseRef" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="delay" type="xs:long" use="required"/>
			<xs:attribute name="ctrl" type="xs:boolean" use="optional"/>
			<xs:attribute name="alt" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="System">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="commander" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
