j2se/Confidant/src/beta02/script.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="title" type="xs:string"/>
	<xs:element name="operations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="operation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="operation" type="xs:string" nillable="true"/>
	<xs:element name="calculagraph">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="operations"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
